@import "@antmjs/vantui/lib/index.less";
page {
  background-color: #f3f3f3;
  --sidebar-selected-border-color: #1ac9b4;
}
.shadow {
  border-radius: 50rpx;
  background: #fefeff;
  box-shadow: 10px 10px 30px #d4d4d4;
  padding: 20px;
}
div {
  // flex: 1 1;
  min-width: 50px;
  min-height: 50px;
  transition: all 0.2s;
  box-sizing: border-box;
  overflow: "hidden";
}
